<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./static/css/style.css">

</head>
<body>

  <div class="container">
      <div class="card">
          <div class="imagem">
              <Div class="fundo">
                        <div class="texto1">
                          
                          <h2 class="titulo">Confirme sua presença</h2>
                          
                          <div class="containerTexto">
                              <p class="mensagem">
                                O valor do presente será convertido para a ajuda de custo com o casamento.<br>
                                Valor de R$ 78,00 por convidado.<br>
                                Conta para depósito do valor, até 7 dias antes da data do casamento<br><br>
                              </p>
                          </div>
                          <P class="informações_adicionais">
                            Pix: aryannesales123@gmail.com<br>
                            Aryanne Vitória Sales dos Santos<br>
                            Banco: Nubank
                          </P>
                        </div>

                  <div class="input">
                    <input type="text" class="inpt" placeholder="Nome dos Convidados">
                  </div>
                  <br>
                  <div class="input">
                    <input type="text" class="inpt" placeholder="Quantidade de Convidados">
                  </div>
                  <br>
                  <div class="button">
                    <button type="button" class="bnt">Confirmar</button>
                  </div>
              </Div>    
          </div>
      </div>  
</div>

</body>
</html>