.container {
  display: flex;
  justify-content: center;
}
.card {

height: 95vh;
background-image: url(../statics/fundo\ 1.png);
background-repeat: no-repeat;
background-size: cover;
background-color: black;
border-radius: 15px;
margin-top: 1%;
}
.imagem{
margin-top: 25%;
}

.texto1 {
color: aliceblue;
background: rgba(0, 0, 0, 0.55);
border-radius: 25px;
width: 95%;
margin: auto;

}
.titulo {
text-align: center;
}

.mensagem{
margin: 0;
text-align: center;
/*text-align-last: justify;*/
justify-content: center;
width: 90%;
}

.containerTexto {
  display: flex;
  justify-content: center;

}

.informações_adicionais {

  text-align: center;
}

.input{
  display: flex;
  justify-content: center;
}
.inpt{
width: 80%;
text-align: center;

}

.button{
  display: flex;
  justify-content: center;
}

.bnt{
  width: 40%;
  text-align: center;

}
